.line2 {
    display:inline-block;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    position: relative;
    background:url(http://i.piccy.info/i7/c7a432fe0beb98a3a66f5b423b430423/1-5-1789/1066503/lol.png);
    background-size:100% 100%;
}