<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap" media="all">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" >
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand&family=Zen+Kurenaido&display=swap" rel="stylesheet">
<div class="nav">
  <a class="navbar-brand" href="/"><img src="./assets/img/it-logo.jpg" alt="logo" style="width: 55px;height: 55px;"></a>
  <ul style="list-style-type: none; padding-top:10px ;" > 
    <li><a routerLink="home">Home</a></li>
    <li><a routerLink="events">Events</a></li>
    <li><a routerLink="login" >Login</a></li>
    <li><a routerLink="register">Signup</a></li>
    <li><a routerLink="home">Logout</a></li>
  </ul>
</div>


<div><router-outlet></router-outlet></div>
