.card {
    width: 350px;
    height: 350px;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.p-info {
    display: flex;
    justify-content: space-between
}
.p-image img {
    width: 240px;
    transition: all 0.5s
}
.p-about {
    position: absolute;
    width: 170px;
    font-size: 10px;
    top: 85px;
    left: -125px;
    opacity: 0
}
.card:hover .p-about {
    animation: content 300ms ease-in forwards
}
@keyframes content {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1;
        left: 25px
    }
}
.card:hover .p-image img {
    animation: onimage 300ms ease-in forwards
}
@keyframes onimage {
    0% {
        width: 250px
    }

    50% {
        width: 200px;
        transform: translateY(-30px);
        transform: translateX(100px)
    }

    100% {
        width: 180px;
        top: 100px;
        transform: translateY(100px);
        transform: translateX(110px)
    }
}

.buttons {
    position: absolute;
    bottom: -150px
}

.card:hover .buttons {
    animation: buttons 500ms ease-in forwards
}

@keyframes buttons {
    0% {
        bottom: -100px
    }

    100% {
        bottom: 20px
    }
}

.btn {
    height: 50px;
    font-size: 15px;
    width: 120px !important;
    font-weight: 500
}