<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins&family=Zen+Kurenaido&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
<div style="background-color: #1089ff;display: block;">
  <div class="container" style="margin: 0% 10%;">
    <div class="row" style="margin: 0% 0%;">
      <div class="col" style="padding: 2% 0%;">
        <div class="col" style="display: inline; float: left;margin-top: 2%;">
        <img src="https://img.icons8.com/fluency/40/000000/instagram-new.png"/>
        </div>
        <div class="col" style="margin-left: 8%; margin-top: 0%;padding-left: 4%;">
          <span class="h3 d-block" style="color: white;font-family: 'Poppins', sans-serif;
          font-family: 'Quicksand', sans-serif;
          font-family: 'Zen Kurenaido', sans-serif;font-weight: 700;"><a style="text-decoration: none; color: white;" target="_blank" href="https://instagram.com/kec_it_association_official?utm_medium=copy_link">Instagram</a></span>
          <span style="color: white;">Kec IT Association Official</span>
        </div>
        <a></a>
      </div>
      <div class="col" style="padding: 2% 0%;">
        <div class="col" style="display: inline; float: left;margin-top: 2%;">
          <img src="https://img.icons8.com/color/40/000000/whatsapp--v1.png"/>
          </div>
          <div class="col" style="margin-left: 8%; margin-top: 0%;padding-left: 4%;">
            <span class="h3 d-block" style="color: white;font-family: 'Poppins', sans-serif;
            font-family: 'Quicksand', sans-serif;
            font-family: 'Zen Kurenaido', sans-serif;font-weight: 700;"><a style="text-decoration: none; color: white;" target="_blank" href="https://api.whatsapp.com/send?phone=+918248374330">Whatsapp</a></span>
            <span style="color: white;">IT Association Secretary</span>
          </div>
          <a></a>
      </div>
      <div class="col" style="padding: 2% 0%;">
        <div class="col" style="display: inline; float: left;margin-top: 2%;">
          <img src="https://img.icons8.com/color/40/000000/gmail-new.png"/>
          </div>
          <div class="col" style="margin-left: 8%; margin-top: 0%;padding-left: 4%;">
            <span class="h3 d-block" style="color: white;font-family: 'Poppins', sans-serif;
            font-family: 'Quicksand', sans-serif;
            font-family: 'Zen Kurenaido', sans-serif;font-weight: 700;"><a style="text-decoration: none; color: white;" target="_blank" href="mailto: itassociation.kongu@gmail.com">Gmail</a></span>
            <span style="color: white;">IT Association</span>
          </div>
          <a></a>
      </div>
    </div>
  </div>

</div>

<div style="background-image:linear-gradient(rgba(255, 254, 254, 0.603), rgba(255, 255, 255, 0.527)), url('./assets/img/ITPark2.jpg');background-size: cover;display: block;height: 90vh;">
<br><br>
<div class="w3-container w3-center w3-animate-zoom">
    <h1 style="color: #1893df;font-size: xx-large;font-family: 'Poppins','Zen Kurenaido', sans-serif;">KONGU ENGINEERING COLLEGE</h1>
  </div>
  <br>
  <div class="w3-container w3-center w3-animate-zoom">
    <h1 style="color: #888888;font-size: 300%;font-family: 'Poppins','Zen Kurenaido', sans-serif;">Department Of Information Technology</h1>
</div>
<br>
<br>
<br>

<div style="overflow: hidden;display: flex;justify-content: center;">
<h1 class="k" style="font-size: 600%; padding: 5% 1%;text-align: center;" >EPOCH 2k22</h1>
</div>
<br><br><br>
<div  class="w3-container w3-center w3-animate-zoom">
  <h1 style="color: #575757;font-size: xx-large;font-family: 'Poppins','Zen Kurenaido', sans-serif;">INTER DEPARTMENT TECHNICAL SYMPOSIUM</h1>
  <br><br><br></div><br><br><br>
</div>

<div style="background-color: #1089ff;display: block;">
  <br>
  <br>
  <div class="w3-container w3-center p-2">
    <h1 style="color: white;font-size: 180%;font-weight: 400;font-family: 'Poppins','Zen Kurenaido', sans-serif;"><u>Quick Links</u></h1>
</div>
<div class="container ml-5 mr-5" >
<div class="row container ml-5 mr-5" style="margin: 0% 8%;">
  <div class="col padding-0 px-0">
    <a href="/home" style="color: white;text-decoration: none; font-size: large;">Home</a>
  </div>
  <div class="col padding-0 px-0">
    <a href="/events" style="color: white;text-decoration: none; font-size: large;">Events</a>
  </div>
  <div class="col padding-0 px-0">
    <a href="/login" style="color: white;text-decoration: none; font-size: large;">Login</a>
  </div>
  <div class="col padding-0 px-0">
    <a href="/register" style="color: white;text-decoration: none; font-size: large;">Register</a>
  </div>
  <div class="col padding-0 px-0">
    <a href="/home" style="color: white;text-decoration: none; font-size: large;">Logout</a>
  </div>
</div>
</div>
<br><hr style="color: black;">
<div class="w3-container w3-center p-2">
  <h1 style="color: rgb(201, 200, 200);font-size: 120%;font-weight: 200;font-family: 'Poppins','Zen Kurenaido', sans-serif;">Copyrights@2022 | All rights reserved</h1>
</div>

</div>
